{% extends 'index.html' %}

{% block title %}
Content
{% endblock %}


{% block content %}
<style>


  input {
    display: block;
    box-sizing: border-box;
    width: 50%;
    outline: none;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    float: center;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 20%;
    padding: 0 0 0 5px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 30px;
    width: 20px;
    right: 15px;
    top: 0px;
  }

  input[type="submit"] {
    width: 10em;  height: 2em;
    border: none;
    display: block;
    background-color: #292424;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  

</style>

<div class="container" id="add_element">
  <form action="{{ url_for('content') }}" method="post">
  <input type="text" name="add_app" id="app", placeholder="appname">
  <input type="text" name="add_user" id="user", placeholder="username">
  <input type="password" name="add_pass" id="pword", placeholder="password">
  <input type="submit" class="fadeIn fourth" name="content_button" value="addme">
</form>
<form action="{{ url_for('content') }}" method="post">
  <input type="text" name="removeapp" id="removeapp", placeholder="appname">
  <input type="text" name="removeuser" id="removeuser", placeholder="username">
  <input type="submit" class="bi bi-eye-slash" name="content_button" value="remove">
</form>
</div>
<br>
<br>
<div>
 
    
  <table class="container">

    <thead class="table-dark">
      <tr>
        <th>S.No.</th>
        <th>APP</th>
        <th>USER</th>
        <th>ADDED BY</th>
        <th>Password</th>
        <th></th>
    </thead>
    <tbody>
      

      </tr>
           {% for item in item_name %}

          <tr>
            <td> {{ item.count }}</td>
            <td>{{ item.app }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.is_admin }}</td>
            <td> <input id="password_{{ item.count }}" name="password" type="password" disabled value={{ item.password }} placeholder="*****"></td>
            <td> <button onclick="myFunction(`${ {{ item.count }} }`)">COPY</button> </td>

          </tr>
          {% endfor %}
        </tbody>
  </table>
</div>


<script>
  function myFunction(count) {
    console.log(count)
    var copyText = document.getElementById(`password_${count}`);
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    alert("Copied the text: " + copyText.value);
  }
</script>


{% endblock %}