{% extends 'index.html' %}


{% block signup %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon 
    <!-- Login Form -->
   <div container>
     <form action="{{ url_for('verify_otp') }}" method="post">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
      <input type="text" id="adminemail" class= "fadeIn third" name="adminemail" placeholder="admin email">
      <input type="text" id="username" class="fadeIn second" name="user" placeholder="user">
      <input type="submit" class="fadeIn fourth" value="SEND_OTP" name="send_otp">
    </form>
   </div>
    <div container>
      <form action="{{ url_for('verify_otp') }}" method="post">
        <input type="text" id="OTP" class="fadeIn second" name="OTP" placeholder="ENTER 6 DIGIT OTP">
        <input type="submit" class="fadeIn fourth" value="Validate" name="validate_otp">
      
      </div
        

  </div>
</div>
{% endblock %}