{% extends 'index.html' %}


{% block signup %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon 
    <!-- Login Form -->
    <form action="{{ url_for('verify_otp') }}" method="post">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
      <input type="text" id="adminemail" class= "fadeIn third" name="adminemail" placeholder="admin email">
      <input type="text" id="username" class="fadeIn second" name="user" placeholder="user">
       <input type="text" id="mobile" class="fadeIn second" name="mobile" placeholder="mobile">
      <input type="submit" class="fadeIn fourth" value="SEND OTP">
    </form>

  </div>
</div>
{% endblock %}