{% extends 'index.html' %}

{% block title %}
VAULT
{% endblock %}
{% block login %}
<style>

  input {
    display: block;
    box-sizing: border-box;
    width: 50%;
    outline: none;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    float: center;
  }

  input[type="text"],
  input[type="email"] {
    width: 50%;
    padding: 0 0 0 5px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }

  input[type="submit"] {
    border: none;
    display: block;
    background-color: #292424;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }



  
</style>


<div class="container">
  <div id="formContent">
    <form action="{{ url_for('content') }}" method="post">
      <br>
      <p>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="email">
        </p>
       <p>
      <input type="password" id="password" class="bi bi-eye-slash" name="password" placeholder="password"> 
         </p>
         <p>
           <input type="submit" class="fadeIn fourth" name="content_button" value="login">
            </p>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="{{ url_for('forgot_password') }}">Forgot Password?</a>
    </div>
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ message }}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
