{% extends 'index.html' %}

{% block title %}
Content
{% endblock %}


{% block content %}


<div>
  <form action="{{ url_for('reset_password',data=data) }}" method="post">
  <input id="email" name="email" type="email" disabled value={{ data.email }} placeholder={{ data.email }}>
  <input id="admin" name="admin" type="email" disabled value={{ data.admin }} placeholder={{ data.admin }}>
  <input id="user" name="user" type="text" disabled value={{ data.user }} placeholder={{ data.user }}>
    <input id="password" name="password" type="password">
  <input type="submit" class="fadeIn fourth" value="Reset">
    
  </form>
</div>


{% endblock %}